<div class=" col-md-12 daywrapper">
  <span class=""><%= Time.now.to_s(:short) %></span>
    <% @events.each do |event| %>
      <% if event.accepted == 0 %>
          <div class="row eventrow">
            <span class="eventlikes"><%= link_to '↑', like_event_path(event), method: :put %>9</span>
            <a href="/events/<%= event.id %>"><span class="eventtitle"><%= event.name %> | <%= event.city %></span></a>
            <div class="eventgoers right">
              <span class="">Submitted by</span><img src="http://i.imgur.com/Lpavq5s.png?1" class="individualeventgoer">
            </div>
          </div>
      <% else %>
          <div class="row eventrow red">
            <span class="eventlikes"><%= link_to '↑', like_event_path(event), method: :put %></span>
            <a href="/events/<%= event.id %>"><span class="eventtitle"><%= event.name %> | <%= event.city %></span><span class="">Only visible to admin</span></a>
            <div class="eventgoers right">
              <span class="">Submitted by</span><img src="http://i.imgur.com/Lpavq5s.png?1" class="individualeventgoer">
            </div>
          </div>
      <% end %>
    <% end %>
    <div class="showmoreday center">Show more</div>
</div>
